/* @font-face {
  font-family: Inter;
  src: url(/vendor/Inter-3.19.zip);
} */
.page {
  max-width: 1440px;
  margin: auto;
  font-family: "Inter";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #2a2c2f;
}
.content {
  position: relative;
}
.header {
  background-color: #2a2c2f;
  height: 52px;
  display: flex;
  justify-content: space-between;
  padding: 0 48px 0;
}
.header__lang-link {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #ffffff;
  margin-left: 18px;
  text-decoration: none;
}
.header__lang-links {
  display: flex;
  align-items: flex-end;
}
.header__lang-links :first-child {
  margin: 0;
  text-decoration: underline;
}
.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 984px;
  margin: 56px auto 0px;
  position: relative;
}
.lead__title {
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  max-width: 720px;
}
.lead__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-top: 32px;
  max-width: 640px;
}
.lead__image {
  margin-top: 64px;
  background-image: url(./images/lead-image.jpg);
  background-size: contain;
  /* background-position: center; */
  background-repeat: no-repeat;
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
  padding-bottom: 615px;
  padding-right: 100%;
}
.lead__caption {
  margin: 0;
  margin-top: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #ffffff;
}
.intro {
  max-width: 690px;
  margin: 92px 0 0 148px;
}
.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
  margin: 0;
}
.intro__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  color: #ffffff;
  margin: 40px 0 0;
}
.intro__list {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  margin: 33px 0 0;
  padding: 0;
  list-style: none;
}
.photo-grid {
  display: grid;
  /* max-width: 1184px; */
  grid-template-rows: repeat(3, 213px);
  grid-template-columns: repeat(4, 284px);
  grid-auto-rows: 213px;
  gap: 16px;
  margin: 92px 48px 0;
}
.photo-grid__item {
  /* width: 284px;
  height: 213px; */
}
.places {
  margin: 92px auto 0;
  max-width: 984px;
}
.place {
  width: 100%;
  display: grid;
  grid-template-rows: minmax(min-content, max-content) minmax(
      min-content,
      460px
    );
  grid-template-columns: minmax(min-content, 460px) minmax(min-content, 484px);
  row-gap: 48px;
  column-gap: 40px;
  margin: 0 0 80px;
}
.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #ffffff;
  margin: 0;
  max-width: 460px;
}
.place__website {
  align-self: end;
}
.place__url-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  color: #aaaaaa;
  margin: 0;
}
.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-decoration-line: underline;
  color: #ffffff;
  transition: opacity 0.5s linear;
}
.place__link:hover {
  opacity: 0.8;
}
.place__image {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}
.place__paragraph {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
}
.place__text :last-child {
  margin-top: 26px;
}
.place__image_site_kosa {
  background-image: url(./images/place-kosa.jpg);
}
.place__image_site_kolskiy {
  background-image: url(./images/place-kolskiy.jpg);
}
.place__image_site_altai {
  background-image: url(./images/place-altai.jpg);
}
.place__image_site_baikal {
  background-image: url(./images/place-baikal.jpg);
}
.place__image_site_karelia {
  background-image: url(./images/place-karelia.jpg);
}
.cover {
  margin: 92px auto 0px;
  max-width: 1184px;
}
.cover__background {
  background-image: url(./images/cover-background.png);
  background-size: cover;
  background-position: center;
  padding: 245px 312px;
  position: relative;
  max-width: 1184px;
  box-sizing: border-box;
  margin: 0 auto;
}
.cover__background:before {
  content: "";
  display: block;
  background-color: #2a2c2f;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.3;
  transition: opacity 0.7s linear;
}
.cover__background:hover:before {
  opacity: 0.8;
  cursor: pointer;
}
.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  color: #ffffff;
  margin: 0;
  position: relative;
  max-width: 560px;
  margin-bottom: 32px;
  text-decoration: none;
}
.cover__subtitle {
  margin: 0 auto;
  max-width: 360px;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #ffffff;
}
.div-click {
  text-decoration: none;
}
.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  background-color: #2a2c2f;
  padding-top: 92px;
  padding-bottom: 24px;
  margin: auto;
}
.footer__links {
  display: flex;
}
.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 112%;
  color: #ffffff;
  text-decoration: none;
  margin-right: 18px;
}
.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114%;
  color: #ffffff;
  margin: 0;
}
