.lead__image {
  margin-top: 64px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  box-sizing: border-box;
  max-height: 615px;
}
@media screen and (max-width: 1279px) {
  .lead__image {
    margin-top: 56px;
  }
}
@media screen and (max-width: 767px) {
  .lead__image {
    margin-top: 40px;
  }
}
