.cover__background {
  background-image: url(../../../images/cover-background.png);
  background-size: cover;
  background-position: center;
  position: relative;
  max-width: 1184px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 245px 312px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cover__background:before {
  content: "";
  display: block;
  background-color: #2a2c2f;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.3;
  transition: opacity 0.7s linear;
}
.cover__background:hover:before {
  opacity: 0.8;
  cursor: pointer;
}
@media screen and (max-width: 1279px) {
  .cover__background {
    padding: 195px 232px;
  }
}
@media screen and (max-width: 1023px) {
  .cover__background {
    padding: 115px 104px;
  }
}
@media screen and (max-width: 767px) {
  .cover__background {
    padding: 33px 16px;
  }
}
